body {
    background-color: #eff0f3;
}

.navbar {
    display: flex;
    flex-direction: column;
    background-color: #0d0d0d;
    text-align: center;
    font-weight: 500;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
}

a {
    color: #fffffe;
    text-decoration: none;
}

a:hover {
    color: #ff8e3c;
}

.navbar-brand{
    font-size: 35px;
}

@media (min-width: 576px) {
    .container {
        flex-direction: row;
        gap: 10px;
        text-align: center;
    }
}